<div class="modal">
  <button class="modal-close-btn">
    <svg class="modal-close-icon" viewBox="0 0 17 17">
      <path
        d="M1.646 32c-0.422 0-0.843-0.16-1.163-0.483-0.643-0.643-0.643-1.685 0-2.328l28.707-28.707c0.643-0.643 1.685-0.643 2.328 0s0.643 1.685 0 2.329l-28.707 28.706c-0.323 0.321-0.744 0.483-1.165 0.483z">
      </path>
      <path
        d="M30.355 32c-0.422 0-0.843-0.16-1.163-0.483l-28.709-28.706c-0.643-0.643-0.643-1.686 0-2.329s1.685-0.643 2.329 0l28.707 28.707c0.643 0.643 0.643 1.685 0 2.328-0.323 0.321-0.744 0.483-1.163 0.483z">
      </path>
    </svg>
  </button>

  <img src="{{image.small}}" alt="" class="modal-icon" />

  <div class="modal-flex">
    <img src="{{image.big}}" alt="" class="modal-img" />

    <div class="main-info">
      <div>
        <h2 class="title-modal">info</h2>
        <p>
          {{info}}
        </p>
      </div>

      <div>
        <h2 class="title-modal">when</h2>
        <p>{{datetimeFormat date 'yyyy-mm-dd'}}</p>
        <p>{{datetimeFormat date 'HH:MM'}} ({{country}}/{{city}})</p>
      </div>

      <div>
        <h2 class="title-modal">where</h2>
        <p>{{place}}</p>
      </div>

      <div>
        <h2 class="title-modal">who</h2>
        <p class="who">{{name}}</p>
      </div>
      {{#if prices}}
        <div>
          <h2 class="title-modal">prices</h2>
          {{#each prices}}
            <div class="buy-tickets">
              <p class="ticket-standart ticket">{{type}} {{min}} - {{max}} {{currency}}</p>
              <a href='{{../url}}' class="modal-btn btn-buy">BUY TICKETS</a>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <button class="modal-btn more-btn" data-author='{{name}}'>MORE FROM THIS AUTHOR</button>
</div>